body {
    background: url('https://i.pinimg.com/originals/cf/85/d9/cf85d966c302f3728a0e8f81805c132a.gif');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* Contenedor principal con grid */
.home-container {
  display: grid;
  grid-template-columns: 40% 60%;
  min-height: 100vh;
  background-image: url('https://i.pinimg.com/originals/cf/85/d9/cf85d966c302f3728a0e8f81805c132a.gif');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}


/* Logo independiente */
.home-logo {
  display: flex;
  justify-content: flex-start; /* izquierda */
  align-items: flex-start;     /* arriba */
  padding: 120px;
  margin-top: 29px;
  margin-left: -70px;
}

.logo-inamhi {
  max-width: 450px;
  margin-top: -2px;   /* solo afecta al logo */
  margin-right: -29px;
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.2));
  transition: transform 0.3s ease, filter 0.3s ease;
}

.logo-inamhi:hover {
  transform: scale(1.02);
  filter: drop-shadow(0 0 15px rgba(0, 0, 0, 0.3));
}

/* Bienvenida independiente */
.home-welcome {
  display: flex;
  flex-direction: column;
  justify-content: center; /* centrado vertical */
  align-items: center;     /* centrado horizontal */
  padding: 40px;
  text-align: center;
}

/* Botón hover */
button:hover {
  transform: scale(1.05);
}