body {
    background: url('https://i.pinimg.com/originals/cf/85/d9/cf85d966c302f3728a0e8f81805c132a.gif');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.admin-container {
  display: grid; /* Usamos grid en lugar de flex */
  grid-template-columns: 1fr 1fr; /* dos columnas: logo y card */
  background-size: cover;
  height: 100%; /* opcional: ocupa toda la pantalla */
}

/* Logo independiente */
.logo-section {
  display: flex;
  justify-content: flex-start; /* izquierda */
  align-items: flex-start;     /* arriba */
  padding: 30px;
}

.logo-inamhi {
  max-width: 450px;
  filter: drop-shadow(0 0 20px rgba(0,0,0,0.3));
  margin-top: 10px;   /* ahora solo afecta al logo */
  margin-left: 20px;
}

/* Card independiente */
.login-card {
  justify-self: center; /* se centra en su columna */
  align-self: center;   /* se centra verticalmente */
  width: 80%;
  height: 390px;
  background: rgba(255, 255, 255, 0.28);
  padding: 40px;
  border-radius: 20px;
  backdrop-filter: blur(14px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
}



    h2 {
    color: #1e3a8a;
    font-size: 2rem;
    margin-bottom: 20px;
    }

.inputs-row {
    display: flex;
    flex-direction: column; /* ahora van uno debajo del otro */
    gap: 20px;
    margin-bottom: 20px;
}


    .input-group {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: left;
    font-size: 0.9rem;
    color: #1e3a8a;
    }


    .input-group input {
    padding: 12px;
    border-radius: 10px;
    border: none;
    margin-top: 6px;
    }


    .btn-ingresar {
    background-color: #3b82f6;
    color: white;
    padding: 12px 30px;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 20px;
    }